:root {
  /* Day Gradients */
  --clear-gradient: linear-gradient(
    to bottom,
    rgba(73, 121, 227, 1),
    rgba(180, 221, 240, 1)
  ); /* Clear */
  --partly-cloudy-gradient: linear-gradient(
    to bottom,
    rgba(135, 206, 250, 1),
    rgba(255, 255, 255, 1)
  ); /* Partly Cloudy */
  --cloudy-gradient: linear-gradient(
    to bottom,
    rgba(200, 200, 200, 1),
    rgba(230, 230, 230, 1)
  ); /* Cloudy */
  --rain-gradient: linear-gradient(
    to bottom,
    rgba(70, 130, 180, 1),
    rgba(169, 201, 232, 1)
  ); /* Rain */
  --snow-gradient: linear-gradient(
    to bottom,
    rgba(224, 247, 250, 1),
    rgba(255, 255, 255, 1)
  ); /* Snow */
  --thunderstorms-gradient: linear-gradient(
    to bottom,
    rgba(75, 0, 130, 1),
    rgba(106, 90, 205, 1)
  ); /* Thunderstorms */
  --fog-gradient: linear-gradient(
    to bottom,
    rgba(211, 211, 211, 1),
    rgba(255, 255, 255, 1)
  ); /* Fog */
  --windy-gradient: linear-gradient(
    to bottom,
    rgba(135, 206, 250, 1),
    rgba(176, 224, 230, 1)
  ); /* Windy */
  --drizzle-gradient: linear-gradient(
    to bottom,
    rgba(176, 196, 222, 1),
    rgba(230, 230, 250, 1)
  ); /* Drizzle */
  --haze-gradient: linear-gradient(
    to bottom,
    rgba(245, 222, 179, 1),
    rgba(211, 211, 211, 1)
  ); /* Haze */
  --sleet-gradient: linear-gradient(
    to bottom,
    rgba(169, 169, 169, 1),
    rgba(176, 224, 230, 1)
  ); /* Sleet */
  --tornado-gradient: linear-gradient(
    to bottom,
    rgba(47, 79, 79, 1),
    rgba(0, 0, 0, 1)
  ); /* Tornado */

  /* Night Gradients */
  --clear-night-gradient: linear-gradient(to bottom, #040319, #313e5b);
  --partly-cloudy-night-gradient: linear-gradient(
    to bottom,
    rgba(44, 44, 74, 1),
    rgba(74, 74, 109, 1)
  ); /* Partly Cloudy Night */
  --cloudy-night-gradient: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 1),
    rgba(125, 125, 125, 1)
  ); /* Cloudy Night */
  --rain-night-gradient: linear-gradient(
    to bottom,
    rgba(44, 62, 80, 1),
    rgba(52, 73, 94, 1)
  ); /* Rain Night */
  --snow-night-gradient: linear-gradient(
    to bottom,
    rgba(224, 247, 250, 1),
    rgba(176, 224, 230, 1)
  ); /* Snow Night */
  --thunderstorms-night-gradient: linear-gradient(
    to bottom,
    rgba(47, 47, 79, 1),
    rgba(75, 0, 130, 1)
  ); /* Thunderstorms Night */
  --fog-night-gradient: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 1),
    rgba(211, 211, 211, 1)
  ); /* Fog Night */
  --windy-night-gradient: linear-gradient(
    to bottom,
    rgba(44, 62, 80, 1),
    rgba(52, 73, 94, 1)
  ); /* Windy Night */
  --drizzle-night-gradient: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 1),
    rgba(176, 196, 222, 1)
  ); /* Drizzle Night */
  --haze-night-gradient: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 1),
    rgba(211, 211, 211, 1)
  ); /* Haze Night */
  --sleet-night-gradient: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 1),
    rgba(176, 224, 230, 1)
  ); /* Sleet Night */
  --tornado-night-gradient: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 1),
    rgba(0, 0, 0, 1)
  ); /* Tornado Night */

  /* RGBA Colors for Other Elements */
  --clear-rgba: rgba(73, 121, 227, 0.4); /* Clear */
  --partly-cloudy-rgba: rgba(160, 196, 255, 0.4); /* Partly Cloudy */
  --cloudy-rgba: rgba(176, 176, 176, 0.4); /* Cloudy */
  --rain-rgba: rgba(74, 144, 226, 0.4); /* Rain */
  --snow-rgba: rgba(224, 247, 250, 0.4); /* Snow */
  --thunderstorms-rgba: rgba(75, 0, 130, 0.4); /* Thunderstorms */
  --fog-rgba: rgba(211, 211, 211, 0.4); /* Fog */
  --windy-rgba: rgba(160, 211, 232, 0.4); /* Windy */
  --drizzle-rgba: rgba(176, 196, 222, 0.4); /* Drizzle */
  --haze-rgba: rgba(245, 222, 179, 0.4); /* Haze */
  --sleet-rgba: rgba(169, 169, 169, 0.4); /* Sleet */
  --tornado-rgba: rgba(47, 79, 79, 0.4); /* Tornado */

  /* Night RGBA Colors for Other Elements */
  --clear-night-rgba: rgba(28, 28, 58, 0.4); /* Clear Night */
  --partly-cloudy-night-rgba: rgba(44, 44, 74, 0.4); /* Partly Cloudy Night */
  --cloudy-night-rgba: rgba(74, 74, 74, 0.4); /* Cloudy Night */
  --rain-night-rgba: rgba(44, 62, 80, 0.4); /* Rain Night */
  --snow-night-rgba: rgba(224, 247, 250, 0.4); /* Snow Night */
  --thunderstorms-night-rgba: rgba(47, 47, 79, 0.4); /* Thunderstorms Night */
  --fog-night-rgba: rgba(74, 74, 74, 0.4); /* Fog Night */
  --windy-night-rgba: rgba(44, 62, 80, 0.4); /* Windy Night */
  --drizzle-night-rgba: rgba(74, 74, 74, 0.4); /* Drizzle Night */
  --haze-night-rgba: rgba(74, 74, 74, 0.4); /* Haze Night */
  --sleet-night-rgba: rgba(74, 74, 74, 0.4); /* Sleet Night */
  --tornado-night-rgba: rgba(28, 28, 28, 0.4); /* Tornado Night */
}

body {
  /* background-color: rgb(188, 220, 238); */
  background: var(--clear-gradient);
  /* background-color: rgb(73, 121, 227); */
  /* background-color: rgb(188, 220, 238); */
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#app {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#main-container {
  width: 100%;
  min-height: 100px;
  height: 100%;
  display: grid;
  grid-template-rows: 40px 300px 1fr;
}

#search-container-row {
  width: 100%;
  /* height: 40px; */
  /* background-color: red; */
  display: flex;
  /* position: relative; */
}

#search-box {
  right: 20px;
  position: fixed;
  background-color: rgba(31, 86, 172, 0.4);
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: none;
  font-weight: 500;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  color: white;
  z-index: 10;
  /* height: 38px; */
  transition: 0.2s ease;
}

#search-box:focus {
  /* outline: 1px solid black; */
  /* outline: 2px solid #4070e4; */
  transition: 0.2s ease;
}

#search-box:not(:focus) {
  color: rgb(255, 255, 255, 0.4);
}

#current-weather-container-row {
  width: 100%;
  /* height: 150vh; */
  /* outline: 1px solid green; */
  /* height: 300px; */
  display: flex;
  justify-content: center;
  padding: 30px;
  position: sticky;
  /* z-index: 10; */
  top: 0;
}

#current-weather-container {
  width: fit-content;
  min-width: 250px;
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#temperature-weather-status {
  position: relative;
  height: 145px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* #temperature-weather-status-normal, */
#temperature-weather-status-minimized {
  position: absolute;
  /* width: 200px; */
  top: 0;
  opacity: 0;
  transition: 0.2s ease;
  /* background-color: black; */
}

#temperature-weather-status-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}

#temperature-weather-status-minimized .current-weather-temperature,
#temperature-weather-status-minimized .current-weather-status {
  font-size: 1.3rem;
  font-weight: 500;
  /* transition: font-size 0.3s ease, opacity 0.3s ease; */
}

/* #temperature, #weather-status {
    transition: font-size 0.1s ease-out, opacity 0.1s ease-out;
} */

#temperature-weather-status-minimized {
  display: flex;
  flex-direction: row;
}

#temperature-weather-status-minimized .current-weather-temperature {
  margin-right: 20px;
}

#temperature-weather-status-minimized .current-weather-status::before {
  margin-right: 10px;
  content: "\007C";
  /* font-weight: bold; */
}

#current-weather-container-row.minimized #high-low-temp {
  display: none;
}

#current-weather-container #location {
  font-size: 2.2rem;
}

#temperature-weather-status-normal .current-weather-temperature {
  font-size: 5rem;
  margin: -10px;
  font-weight: 100;
}

#current-weather-container .current-weather-temperature::after {
  content: "\00B0";
  position: absolute;
}

#current-weather-container #high-low-temp {
  display: flex;
  gap: 10px;
}

#current-weather-container #high-temp,
#current-weather-container #low-temp,
#temperature-weather-status-normal .current-weather-status,
.forecast-day-low-temp,
.forecast-day-high-temp {
  font-size: 1.2rem;
  font-weight: 500;
}

#current-weather-container #high-temp::after,
#current-weather-container #low-temp::after {
  content: "\00B0";
}

#additional-infos-container {
  /* background-color: red; */
  /* height: 400px; */
  /* height: fit-content; */
  /* width: 900px; */
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-auto-rows: 190px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: white;
}

.grid-item {
  /* background-color: green; */
  /* outline: 1px solid black; */
  /* width: 200px; */
  /* height: 200px; */
  border-radius: 8px;
  padding: 15px;
  /* position: sticky;
  top: 250px; */
  background-color: rgba(31, 86, 172, 0.4);
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.hourly-forecast {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#hourly-forecast {
  grid-column: span 4;
  overflow-x: scroll;
  display: grid;
  flex-grow: 1;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(28, 82px);
  scrollbar-width: none;
}

#hourly-forecast::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.hourly-forecast-today {
  height: 30px;
  display: flex;
  border-bottom: 0.5px solid rgb(255, 255, 255, 0.5);
  margin-bottom: 15px;
}

.sunrise-sunset {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.forecast-hour-weather-status-icon img {
  color: white;
}

.forecast-hour-hour {
  font-weight: 500;
}

.forecast-hour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-hour .chance-of-rain,
.forecast-day-chance-of-rain {
  font-size: 0.9rem;
  color: #a1d8f5;
  opacity: 1;
}

.ten-day-forecast {
  grid-column: span 2;
  grid-row: span 3;
}

#ten-day-forecast {
  display: grid;
  /* background-color: red; */
  height: calc(100% - 15px);
  grid-template-rows: repeat(10, 1fr);
}

.forecast-hour-weather-status-icon {
  /* filter: invert(1); */
  /* width: 40px;
  height: 40px; */
}

.grid-item-name {
  height: 32px;
  display: flex;
  /* border-bottom: 0.5px solid rgb(255, 255, 255, 0.5); */
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.5);
}

.forecast-day {
  display: grid;
  /* outline: 1px solid black; */
  grid-template-columns: 20% 20% 60%;
  border-top: 0.5px solid rgb(255, 255, 255, 0.5);
  align-items: center;
  /* background-color: red; */
  height: 100%;
}

.forecast-day-date {
  font-size: 1.2rem;
  font-weight: 500;
}

.forecast-day-weather-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-day-high-low-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.forecast-day-low-temp {
  color: rgb(255, 255, 255, 0.5);
}

.forecast-day-temperature-meter {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* overflow: hidden; */
}

.forecast-day-temperature-meter-filled {
  height: 100%;
  /* background-color: rgb(128, 207, 216, 0.8); */
  background: linear-gradient(to right, #80cfd8, #f6c644);
  border-radius: 5px;
  position: absolute;
  left: 20%;
  width: 30%;
  /* overflow: hidden; */
  z-index: 1;
}

#uv-index {
  display: grid;
  grid-template-rows: 40% 60%;
  height: calc(100% - 15px);

  /* background-color: red; */
}

.uv-index-status {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uv-index-value {
  font-size: 2.2rem;
}

.uv-index-level {
  font-size: 1.2rem;
  font-weight: 500;
}

.uv-index-meter-container {
  height: 100%;
  /* background-color: #fff; */
  display: flex;
  padding: 20px 0;
}

.uv-index-meter {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.1);
  background: linear-gradient(
    to right,
    #00ff00,
    #ffff00,
    #ff7f00,
    #ff0000,
    #ff00ff
  );
  border-radius: 5px;
  position: relative;
  height: 5px;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* overflow: hidden; */
}



.uv-index-meter-point, .temperature-meter-point {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  /* left: 40%; */
  width: 5.2px;
  outline: 2px solid rgb(0, 0, 0, 0.5);
  /* overflow: hidden; */
}

#twilight {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: red; */
  height: calc(100% - 15px);
}

#twilight-big-time {
  font-size: 2rem;
  font-weight: 500;
}

#twilight-small-time,
#wind-direction,
.precip-value {
  font-size: 0.9rem;
}

#wind {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  height: calc(100% - 15px);
  /* background-color: red; */
}

#wind-speed,
#precipitation-level,
#feels-like,
#moon-phase-value,
#visibility-range,
#humidity-level,
#pressure,
#averages-value {
  font-size: 2rem;
  font-weight: 500;
}

#moon-phase,
#humidity {
  height: calc(100% - 30px);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#next-moon-rise,
.average-title {
  font-size: 0.9rem;
  color: rgb(255, 255, 255, 0.5);
}

#visibility {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 40px);
}

#visibility-desc,
#dew-point {
  font-size: 0.9rem;
  /* font-weight: 500; */
}

#averages-desc,
.average-small-value {
  font-size: 0.9rem;
  font-weight: 600;
}

#averages,
#twilight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
  height: calc(100% - 30px);
}

#averages-today-average-container {
  /* display: flex; */
  /* background-color: red; */
}

.average-today-average {
  display: flex;
  justify-content: space-between;
}
